.container {
	width: 100%;
}

.list {
	height: var(--archive-height);
	overflow-y: scroll;
	scrollbar-width: none;
}

.listItem {
	composes: item from 'styles/shared.module.css';
	background: var(--archive-bg);
}

.listItemDetails {
	composes: itemDetails from 'styles/shared.module.css';
}

@media screen and (max-width: 1000px) {
	.list {
		height: unset;
	}
}
