.container {
	width: 100%;
}

.list {
	height: 542px;
	overflow-y: scroll;
	scrollbar-width: none;
}

.listItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	border: none;
	background: #335c2b;
	color: var(--font-color);
	margin: 5px;
	border-radius: 5px;
	flex-wrap: wrap;
}

.listItemDetails {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.name {
	flex-grow: 1;
}

@media screen and (max-width: 1000px) {
	.list {
		height: unset;
	}
}
