@import './var.css';

.button,
.buttonCritical {
	border-radius: 50px;
	padding: var(--padding-sm) var(--padding-lg);
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: var(--font-color);
	margin: var(--margin-sm);
	cursor: pointer;
	transition: all 0.2s;
}

.button {
	background: var(--button-bg);
}

.buttonCritical {
	align-self: flex-end;
	background: var(--critical-bg);
}

.button:hover {
	color: var(--button-bg);
	background: var(--font-color);
}

.buttonCritical:hover {
	color: var(--critical-bg);
	background: var(--font-color);
}
