@import './var.css';

.container {
	width: var(--control-panel-width);
	background: var(--section-bg);
	border-radius: 5px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5px;
}

@media screen and (max-width: 1000px) {
	.container {
		width: 100%;
		margin: 10px 0;
	}
}
