.container {
	width: 50vw;
	background: var(--section-bg);
	border-radius: var(--border-radius);
	margin: var(--margin-md) var(--margin-md) var(--margin-md) 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: var(--padding-sm);
}

@media screen and (max-width: 1000px) {
	.container {
		margin: 0 0 var(--margin-md) 0;
		width: 100%;
	}
}
