.container {
	width: 100%;
}

.sketchName {
	flex-grow: 1;
	margin-right: 20px;
}

.listItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	border: none;
	background: #113f69;
	color: var(--font-color);
	margin: 5px;
	border-radius: 5px;
}

.ratingLabel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox {
	margin: 0 10px;
}

.listLabel {
	display: flex;
	align-items: center;
}

.numberSelect {
	width: 40px;
	margin: 0 10px;
}

.limitMessage {
	color: #f45042;
}
