.container {
	width: 100%;
}

.listItem {
	composes: item from 'styles/shared.module.css';
	background: var(--list-bg);
}

.ratingLabel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox {
	margin: 0 var(--margin-md);
}

.listLabel {
	display: flex;
	align-items: center;
}

.numberSelect {
	width: 40px;
	margin: 0 var(--margin-md);
}

.limitMessage {
	color: var(--message-color);
}

.listControls {
	composes: itemDetails from 'styles/shared.module.css';
}
