@import './var.css';

.container {
	composes: controlPanelContainer from 'styles/shared.module.css';
	margin: var(--margin-md);
	height: 100%;
}

@media screen and (max-width: 1000px) {
	.container {
		width: 100%;
		margin: var(--margin-md) 0;
	}
}
